<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
</head>
<body style="margin-top:20px;font-family:Helvetica,Arial,sans-serif;font-size: 14px;box-sizing:border-box">
    <div style="width:100%;float:left;padding-right:15px;padding-left:15px;">
        <div style="border-color:#337ab7;margin-bottom:20px;background-color:#fff;
        border-radius:4px;box-shadow: 0 1px 1px rgba(0,0,0,.05);">
            <div style="color:#fff;background-color:#337ab7;border-color:#337ab7;
            padding:10px 15px;border-top-left-radius:3px;border-top-right-radius:
            3px;border-bottom:1px solid transparent;">
               New Group!
            </div>
            <div style="padding:15px;">
                <p>You've been added to the Wishlist group '{{ group.name }}' by {{ adder.username }}!</p>
                {% if group.description %}<blockquote style="padding:10px 20px;margin:0 0 20px;
                font-size:17.5px;border-left:5px solid #eee;">{{ group.description }}</blockquote>{% endif %}
                <p/>
                <p><a style="display: inline-block;padding: 6px 12px;margin-bottom: 0;text-decoration:none;
                font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;
                vertical-align: middle;touch-action: manipulation;cursor: pointer;user-select: none;
                background-image: none;border: 1px solid transparent;border-radius: 4px;color: #fff;
                background-color: #337ab7;border-color: #2e6da4;" href="{{ url }}">Check it out!</a></p>
                <p style="margin-top:35px">Happy Wishing!</p>
                <p>The Wishlist Team</p>
            </div>
        </div>
    </div>
</body>
</html>