{% extends 'wishlist_app/base.html' %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block body %}
<p>Please specify your email address to receive instructions for resetting it.</p>

<form action="" method="post">
    {% csrf_token %}
    {% load bootstrap3 %}
    {% bootstrap_form form %}
     {{ form.email.errors }}
     {% buttons %}
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-key"></i> Send Reset
        </button>
    {% endbuttons %}
</form>
{% endblock %}