{% extends "wishlist_app/base.html" %}
{% block title %}<title>Setting New password</title>{% endblock %}

{% block body %}
    {% if validlink %}
        <form action="" method="post">
                {% csrf_token %}
                {% load bootstrap3 %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                      Reset Password <i class="fa fa-sign-in"></i>
                    </button>
                {% endbuttons %}
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}