{% extends 'wishlist_app/group/group_base.html' %}
{% block title %}
    <title>{{ group.name }} | Wishlist</title>
{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-lg-12">
            {% if group %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{group.name}}</div>
                    <div class="panel-body">
                        <h5>{{group.description}}</h5>
                    </div>
                    {% if request.user == group.creator %}
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-info btn-block" href="{% url 'group_update' group.id%}">Edit Group</a>
                            <form method="POST" action="{% url 'group_delete' group.id %}">
                                {% csrf_token %}
                                <input class="btn btn-lg btn-warn btn-block" type="submit" value="Delete" disabled/>
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            </div>

            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        What I want
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                         {% include 'wishlist_app/item/list.html' with items=wishes %}
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-lg btn-success btn-block" href="{% url 'item_create' group.id %}">Make a wish</a>
                    </div>
                </div>
            </div>

             <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        What I'm giving
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                         {% include 'wishlist_app/item/list.html' with items=gives %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Group Members
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        {% include 'wishlist_app/group/wishlist_members.html' %}
                    </div>

                    <div class="panel-footer">
                        <a class="btn btn-lg btn-primary btn-block" href="{% url 'member_add' group.id %}">Add people to the group</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<!--no back to group link on the group main page-->
{% endblock %}