{% extends 'wishlist_app/group/group_base.html' %}
{% block title %}
    <title>{{ group.name }}</title>
{% endblock%}
{% block body %}
    <h4>Add items to {{ group.name }}</h4>
    <form method="post" action="{% url 'group_items' group.id %}">
        {% csrf_token %}
        {% load bootstrap3 %}
        {% bootstrap_form form %}
{#        {% for field in form %}#}
{#            <div class="fieldWrapper">#}
{#                {{ field.errors }}#}
{#                {{ field.label_tag }} {{ field }}#}
{#                {% if field.help_text %}#}
{#                <p class="help">{{ field.help_text|safe }}</p>#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endfor %}#}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save"></i> Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}