<!-- what I want -->
<!-- what others want -->
<!-- what i'm buying -->
<!-- group members -->
{% extends 'wishlist_app/nav.html' %}
<nav class="navbar navbar-default navbar-static-top active" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% block nav_title %}
            {% if group %}
                <a class="navbar-brand" href="{% url 'group_home' group.id %}">Wishlist - {{ group.name }}</a>
            {% else %}
                <a class="navbar-brand" href="#">Wishlist</a>
            {% endif %}
        {% endblock %}
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right in">

        <li class="dropdown active">
            <a class="dropdown-toggle active" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user in">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#" class="active"><i class="fa fa-user fa-fw"></i>{{ request.user.username }}</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'wishlists' %}"><i class="fa fa-users fa-fw"></i>My Groups</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i>Login</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}"><i class="fa fa-sign-in fa-fw">Sign up</a>
                    </li>
                {% endif %}
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse active">
            <ul class="nav in" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#" class="active"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                </li>
                <li>
                    <a href="forms.html" class="active"><i class="fa fa-edit fa-fw"></i> Forms</a>
                </li>
                <li>
                    <a href="#" class="active"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="panels-wells.html">Panels and Wells</a>
                        </li>
                        <li>
                            <a href="buttons.html">Buttons</a>
                        </li>
                        <li>
                            <a href="notifications.html">Notifications</a>
                        </li>
                        <li>
                            <a href="typography.html">Typography</a>
                        </li>
                        <li>
                            <a href="icons.html"> Icons</a>
                        </li>
                        <li>
                            <a href="grid.html">Grid</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="active">
                    <a href="#" class="active"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in">
                        <li>
                            <a href="#" class="active">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#" class="active">Second Level Item</a>
                        </li>
                        <li class="active">
                            <a href="#" class="active">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in">
                                <li>
                                    <a href="#" class="active">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#" class="active"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li>
                            <a href="blank.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="login.html">Login Page</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>