{% extends 'wishlist_app/group/group_home.html' %}
    {% block edit_assignments %}
        <a class="btn btn-lg btn-default btn-block" href="{% url 'group_assignments' group.id %}">
            <i class="fa fa-arrows-h"></i> Edit Assignments
        </a>
    {% endblock %}
    {% block group_assignment %}
        <div class="col-lg-12">
            <div class="alert alert-info">
                This is a birthday group for
                {% if assignment %}
                <a title="See wishes" href="{% url 'user_wishlist' group.id assignment.wisher.id %}"><i class="fa fa-user"></i> {{ assignment.wisher.username }}</a>
                {% else %} no one yet. {% endif %}
            </div>
        </div>
    {% endblock %}

    {# only show the wishes if the user is who the registry is for #}
    {% block user_wishes %}
        {% if assignment.wisher == request.user %}
            {{block.super}}
        {% endif %}
    {% endblock %}

    {# Don't show what the user is getting if it's a birthday/registry list for them #}

    {% block user_gives %}
        {% if assignment.wisher != request.user %}
            {{ block.super }}
        {% endif %}
    {% endblock %}

{% block footer %}
{% endblock %}