{% extends 'wishlist_app/group/group_home.html' %}
{% block edit_assignments %}
    <a class="btn btn-lg btn-default btn-block" href="{% url 'group_assignments' group.id %}">
        <i class="fa fa-arrows-h"></i> Edit Secret Santas
    </a>
{% endblock %}
{% block group_assignment %}
    <div class="col-lg-12">
        <div class="alert alert-info">
            I'm the Secret Santa for:
            {% if assignment %}
                <a title="See wishes" href="{% url 'user_wishlist' group.id assignment.wisher.id %}"><i class="fa fa-user"></i> {{ assignment.wisher.username }}</a>
            {% else %} no one yet. {% endif %}
        </div>
    </div>
{% endblock %}

{% block member_links %}
    {% include "wishlist_app/group/secret_santa_members.html" %}
{% endblock %}