{# expects as input: wide, skinny, member #}
{# show our secret santee as a link, others as just an item #}
{% if member.user.id != assignment.wisher.id %}
    <li class="text-left list-group-item {{wide}}">
        <i class="fa fa-user fa-fw"></i> {{ member.user.username }}
    </li>
{% else %}
    <a class="text-left list-group-item list-group-item-info {{wide}}" href="{% url 'user_wishlist' member.group.id member.user.id %}">
        <i class="fa fa-user fa-fw"></i> {{ member.user.username }}
    </a>
{% endif %}
{% csrf_token %}
{% if skinny %}
<a class="list-group-item text-center {{skinny}} delete" data-name="{{ member.user.username }}">
    <i class="fa fa-trash"></i> Remove
</a>
{% endif %}