{% extends 'wishlist_app/group/group_base.html' %}
{% block title %}
    <title>{{ wisher.username }}'s wishes</title>
{% endblock%}
{% block body %}
    <h4>{{ wisher.username }}'s wishes</h4>
    {% if items %}
        <ul>
            {% for item in items %}
                <li>
                    <a href="{% url 'item_read' item.id %}">{{ item.name }}</a>
                    {% if item.group.is_secret_santa %}
                        {% include 'wishlist_app/item/item_claim_secret_santa.html' %}
                    {% else %}
                        {% include 'wishlist_app/item/item_claim.html' %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No wishes made yet</p>
    {% endif %}
{% endblock %}