{% extends 'wishlist_app/group/group_base.html' %}
{% block title %}
    <title>{{ wisher.username }}'s wishes</title>
{% endblock%}
{% block body %}
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
               {{ wisher.username }}'s wishes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <li class="list-group-item list-group-item-info">Available</li>
                <div id="available">
                    {% include 'wishlist_app/item/list.html' with items=available_items available=True %}
                </div>
                <li class="list-group-item list-group-item-warning">Claimed</li>
                <div id="claimed">
                    {% include 'wishlist_app/item/list.html' with items=claimed_items available=False %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}