 <div class="list-group">
     {% for member in members %}
    <li class="list-group-item" title="View wishes">
        <a href="{% url 'user_wishlist' member.group.id member.user.id %}"><i class="fa fa-user fa-fw"></i>{{ member.user.username }}</a>
        <span class="pull-right text-muted small">
            <em>
            {% if request.user == group.creator %}
                 <form class="delete" method="POST" action="{% url 'remove_user' member.id %}">
                    {% csrf_token %}
                    <a class="pull-right" data-name="{{ member.user.username }}"><i class="fa fa-trash"></i> Remove</a>
                 </form>
            {% endif %}
            </em>
        </span>
    </li>
    {% endfor %}
</div>