<div class="list-group">
    {% for member in members %}
    <div class="row">
        <div class="col-lg-12">
            {% if request.user == group.creator %}
                {# admin layout classes #}
                {% include "wishlist_app/group/wishlist_member.html" with wide='col-lg-10 col-md-10 col-sm-10 col-xs-12' skinny='col-lg-2 col-md-2 col-sm-2 col-xs-12' %}
            {% else %}
                {# regular user layout classes #}
                {% include "wishlist_app/group/wishlist_member.html" with wide='col-lg-12 col-md-12 col-sm-12 col-xs-12' skinny='' %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>