 <div class="list-group">
     {% for member in members %}
    <a href="{% url 'user_wishlist' member.group.id member.user.id %}" class="list-group-item" title="View wishes">
        <i class="fa fa-user fa-fw"></i>{{ member.user.username }}
        <span class="pull-right text-muted small">
            <em>
            {% if request.user == group.creator %}
                 <form method="POST" action="{% url 'remove_user' member.id %}">
                    {% csrf_token %}
                    <input class="btn btn-sm" type="submit" value="remove"/>
                 </form>
            {% endif %}
            </em>
        </span>
    </a>
    {% endfor %}
</div>