{# expects as input: wide, skinny, member #}
{# show our secret santee as a link, others as just an item #}
{% if member.user == request.user %}
    <li class="text-left list-group-item {{wide}}">
        <i class="fa fa-user fa-fw"></i> {{ member.user.username }} {{ member.user.get_full_name_display }}
    </li>
{% else %}
    <a class="text-left list-group-item {{wide}}" href="{% url 'user_wishlist' member.group.id member.user.id %}">
        <i class="fa fa-user fa-fw"></i> {{ member.user.username }}  {{ member.user.get_full_name_display }}
    </a>
{% endif %}
{% if skinny and group.creator == request.user %}
    <li class="list-group-item {{ skinny }}">
        <form class="delete" method="POST" action="{% url 'remove_user' member.id %}">
            {% csrf_token %}
            <a class="text-center delete" data-name="{{ member.user.username }}">
                <i class="fa fa-trash"></i> Remove
            </a>
        </form>
    </li>
{% endif %}