{% extends 'wishlist_app/group/group_base.html' %}
{% block title %}
    <title>{{ item.name }}</title>
{% endblock%}
{% block body %}
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ item.name }} for {{ item.wisher.username }}
                    {% if request.user == item.wisher %}
                        <a class="pull-right inverse" href="{% url 'item_update' item.id %}"><i class="fa fa-edit"></i> Edit</a>
                    {% endif %}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="list-group">
                    <li class="list-group-item">
                       <i class="fa fa-list"></i> Description: {{ item.description }}
                    </li>
                    {% if item.link %}
                    <a class="list-group-item" target="_blank" href="{{item.link}}">
                       <i class="fa fa-link"></i> {{ item.link }}
                    </a>
                    {% endif %}
                    <li class="list-group-item">
                       Wanted: {{ item.quantity }}
                    </li>
                    {% if request.user == item.wisher %}
                        <li class="list-group-item">
                            <form method="POST" action="{% url 'item_delete' item.id %}">
                                {% csrf_token %}
                                <input class="form-control" type="submit" value="Delete"/>
                            </form>
                        </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
