
{% if items %}
    {% for item in items %}
        <a href="{% url 'item_read' item.id %}" class="list-group-item">
            <i class="fa fa-gift fa-fw"></i>{{ item.name }}
           {% if item.quantity > 1 %}
            <span class="pull-right text-muted small"><em>{{ item.quantity }}</em>
            </span>
            {% endif %}
        </a>
    {% endfor %}
{% else %}
     <a href="#" class="list-group-item">
         <i class="fa fa-frown-o fa-fw"></i>No items
     </a>
{% endif %}
