{# Expects items(list:the items to display), available (boolean: lists available or claimed items), table_id (optional, string: html tag id for the table)  #}
<div id="{{ table_id }}">
    <input class="form-control search" type="text" placeholder="Filter items"/>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-3 sort" data-sort="name">Item</th>
                <th class="col-md-1 "></th>
                {% if not available %}
                <th class="col-md-3 sort asc" data-sort="wisher">Wisher</th>
                <th class="col-md-3 sort" data-sort="giver">Giver</th>
                <th class="col-md-1">Action</th>
                {% else %}
                <th class="col-md-6 sort asc" data-sort="wisher">Wisher</th>
                <th class="col-md-1">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="list">
        {% if items %}
            {% for item in items %}
            <tr>
                {% include 'wishlist_app/item/item_row.html' %}
            </tr>
            {% endfor %}
            <tr class="no-items" style="display:none">
                 <td class="col-md-3">
                    <i class="fa fa-frown-o fa-fw"></i>No items
                 </td>
             </tr>
        {% else %}
             <tr class="no-items">
                 <td class="col-md-3">
                    <i class="fa fa-frown-o fa-fw"></i>No items
                 </td>
             </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="empty-search alert alert-warning" style="display:none;">
        <i class="fa fa-frown-o fa-fw"></i> No items match the search
    </div>
    <script type="text/javascript">

        (function(){
            var $container = $("#{{ table_id }}");
            var $table = $container.find("table");

            function checkEmpty(){
                $container.find(".no-items").toggle($table.find("tbody tr").length == 1)
                $container.find(".empty-search").toggle($table.find("tbody tr:visible").length == 0);
            }

            function hideSearchWarning(){
                $container.find(".empty-search").hide();
            }

            function itemMove(ev){
                checkEmpty();
            }

            $table.sortable();
            $table.filterable({
                beforeFilter: hideSearchWarning,
                filterInput: $container.find("input.search"),
                afterFilter: checkEmpty
            });

            $container.on("item:claimSuccess, item:unclaimSuccess", itemMove);
        })();



    </script>
</div>


