{% extends 'wishlist_app/item/item_base.html' %}
{% block title %}
    <title>{{ item.name }}</title>
{% endblock%}
{% block body %}
    <h4>New item for my wishlist</h4>
    {% if group %}
    <form method="post" action="{% url 'group_item_create' group.id %}">
    {% else %}
    <form method="post" action="{% url 'item_create'%}">
    {% endif %}
        {% csrf_token %}
        {% load bootstrap3 %}
        {% bootstrap_form item_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-gift"></i> Save
            </button>
        {% endbuttons %}
    </form>
{% endblock %}