 <div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <i class="fa fa-users fa-fw"></i> Search Results
        </div>
        <div class="panel-body">
            {% if users %}
                {% for user in users %}
                    <button class="list-group-item addToGroupBtn" data-url="{% url 'add_user' group.id user.id %}">
                        <i class="fa fa-plus-circle"></i> {{user.username}}
                    </button>
                {% endfor %}
            {% else %}
            <div>
                <div class="alert alert-danger" role="alert">No users found</div>
                <h4>Invite to join by email:</h4>
                <input class="form-control" id="inviteEmail" type="email" placeholder="johndoe@mail.com"/>
            </div>
            {% endif %}
        </div>
        {% if not users %}
         <div class="panel-footer">
                <button class="btn btn-primary" id="sendInviteBtn" data-url="{% url 'user_invite'%}"><i class="fa fa-envelope-o"></i> Send Invite</button>
            </div>
        {% endif%}
    </div>
</div>

<script type="text/javascript">
    registerButtonListeners();
     $("#inviteEmail").val($("#name").val());

    function registerButtonListeners(){
        $(".addToGroupBtn").click(function(ev){
            console.log("add", ev);
            var element = $(ev.target);
            console.log("element: ", element);
            $.ajax({
                method: "post",
                url: element.data("url"),
                data: {csrfmiddlewaretoken: window.csrf_token}
            }).done(function(){
                element.html("<i class='fa fa-check-circle'></i> Added").prop("disabled", true);
            }).fail(function(response){
                console.log("error adding user to group", response);
                element.html("<i class='fa fa-error'></i> Error: "+response.responseText.substring(0, 100) + "...")
            })
        });

        $("#sendInviteBtn").click(function(ev){
            var email = $.trim($("#inviteEmail").val());
            console.log("invite", ev);
            var element = $(ev.target);
            $.ajax({
                method: "post",
                url: element.data("url"),
                data: { csrfmiddlewaretoken: window.csrf_token,
                        email: email,
                        group_id: {{group.id}}}
            }).done(function(){
                element.text("Invite sent").prop("disabled", true);
            })
        });
    }
</script>