.inverse{
    color: #FFF
}

form.delete a{
    cursor: pointer
}

form.delete a.delete:hover{
    color: red
}

a.no-link{
    cursor: default
}

.text-left{
    text-align: left
}

i.fa-spin{
    animation: fa-spin 0.3s infinite linear
}

.table th{
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table .sort.asc:after{
    content: " ▲";
    font-size: 7px;
}

.table .sort.desc:after{
    content: " ▼";
    font-size: 7px;
}

.comment-heading{
    font-size: 14px;
    font-weight: bold;
}

.commenter{
    background: #CCC;
}