{% extends 'wishlist_app/base.html' %}
{% block title %}
    <title>Login to Wishlists</title>
{% endblock %}

{% block login_header %}
{% endblock%}

{% block body %}
    <h4>Login</h4>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% load bootstrap3 %}
        {% bootstrap_form login_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
              Login <i class="fa fa-sign-in"></i>
            </button>
        {% endbuttons %}
    </form>
    <a href="{% url 'register' %}"> Create an account</a>
{% endblock %}