<nav class="navbar navbar-default navbar-static-top active" role="navigation">
    <div class="navbar-header">
        {% block nav_title %}
            <a class="navbar-brand" href="{% url 'wishlists' %}">Wishlists</a>
        {% endblock %}
    </div>
    <ul class="nav nav-pills">
        {% if request.user.is_authenticated %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> {{ request.user.username }}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                         <a href="{% url 'user_profile' %}" class="active"><i class="fa fa-user fa-fw"></i> Profile</a>
                    <li>
                        <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li role="presentation">
                <a href="{% url 'my_wishlist' %}"><i class="fa fa-users"></i> My Wishlist</a>
            </li>
            <li class="divider"></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users fa-fw"></i> My Groups<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'wishlists' %}" ><i class="fa fa-globe fa-fw"></i> All My Groups</a>
                    </li>
                    {% if groups %}
                        {% for group in groups %}
                            <li>
                                 <a href="{% url 'group_home' group.id %}"><i class="fa fa-users fa-fw"></i> {{ group.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a href="{% url 'group_create' %}"><i class="fa fa-plus-circle"></i> Create new group</a>
                    </li>
                </ul>
            </li>
            {% if group %}
            <li class="divider"></li>
            <li role="presentation">
                <a href="{% url 'group_home' group.id %}"><i class="fa fa-users"></i> {{ group.name }}</a>
            </li>
            {% endif %}
        {% else %}
            <li>
                <a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a>
            </li>
            <li>
                <a href="{% url 'register' %}"><i class="fa fa-pencil-square-o fa-fw"></i> Sign up</a>
            </li>
        {% endif %}
    </ul>
</nav>